/* src/components/layout/Layout.css */

/* ==================== СВЕТЛАЯ ТЕМА ==================== */

.layout {
  min-height: 100vh;
  background: #F2F2F7;
  padding: 16px 0;
  position: relative;
  z-index: 0;
  transition: background-color 0.3s ease;
}

/* ==================== ТЕМНАЯ ТЕМА ==================== */
.dark-theme .layout {
  background: #000000;
}