.onboarding {
  height: 100vh;
  background: #fff;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.onboarding__top {
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.onboarding__img {
  width: 100vw;
  min-height: 270px;
  max-height: 380px;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}



.onboarding__card {
  /* position: relative; */
  /* z-index: 3; */
  background: #fff;
 /* width: 100vw;
  margin: 0 auto; */
  margin-top: -90px; 
  border-radius: 0 0 32px 32px;
  /* box-shadow: 0 4px 24px 0 rgba(0,0,0,0.09);     */
  padding: 48px 16px 32px 16px;
  text-align: center;
}

.onboarding__title {
  font-size: 32px;
  font-weight: 700;
  color: #1C1C1D;
  margin: 0 0 20px 0;
  line-height: 1.2;
  
}

.onboarding__desc {
  font-size: 18px;
  color: #454545;
  margin: 0 0 32px 0;
  line-height: 1.5;
  font-weight: 400;
}

.onboarding__btn {
  width: 100%;
  background: #A7D96C;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 16px 0;
  cursor: pointer;
  box-shadow: 0 2px 12px rgba(0,0,0,0.03);
  transition: background 0.2s;
  margin-top: 8px;
}

.onboarding__btn:hover {
  background: #a5db45;
}

@media (max-width: 430px) {
  .onboarding__img {
    min-height: 210px;
  }
  .onboarding__card {
    padding-left: 4vw;
    padding-right: 4vw;
    min-height: 210px;
    border-radius: 0 0 22px 22px;
  }
}
